{% extends 'registration/base.html' %}
{% load static %}

{% block title %}
    <title>Reset password • Dynamic</title>
{% endblock %}

{% block content %}
<h1>Resett Password</h1>
    <form action="" method="post">
        {% if user.is_authenticated %}
            <h3 style="text-align: center;">You are currently logged as {{ user.username }}</h3><br>
        {% endif %}
        {% csrf_token %}
        {{ form.as_p }}
        <button>Reset Password</button>
    </form>
{% endblock %}