{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wellcome on Dynamic</title>
    <link rel="stylesheet" href="{% static 'index/css/main.css' %}">
</head>
<body>
    <nav>
        <div>
            <img src="{% static 'index/img/Dynamic_logo_A.png' %}" alt="Dynamic logo" class="logo">
        <ul>
            <li>How to start</li>
            <li>Docs</li>
            <li>Services</li>
        </ul>
        </div>
        <div>
            <button class="login">Login</button>
            <button class="sign-in">Sign up</button>
        </div>
    </nav>
    <header class="hero">
        <section class="hero-caption">
            <h1>It's time to focus.</h1>
            <p>
                It's time to focus and get productive, and what best place than Dynamic?
            </p>
        </section>
        <section class="hero-media">

        </section>
    </header>
</body>
</html>