{% extends 'base.html' %}
{% load static %}

{% block title %}
    <title>Logout • Dynamic</title>
{% endblock %}
{% block style %}
    <style>
        .last-message{text-align: center;padding-top: 1rem;}
    </style>
{% endblock %}

{% block content %}
<h1>Logout</h1>
    <form action="" method="post">
        {% if user.is_authenticated %}
            <h3 style="text-align: center;">You are already logged as {{ user.username }}</h3><br>
        {% endif %}
        {% csrf_token %}
        {{ form.as_p }}
        <p class="last-message" style="display: block;">If you don't have an account, just <a href="{% url 'forms:register' %}">sign in</a></p>
        <button>Logged Out</button>
    </form>
{% endblock %}
