{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Not just a todo app. This is the place where you'll finally be able to boost your productivity like never before">
    {% block title %}{% endblock %}
    <link rel="stylesheet" href="{% static 'forms/css/main.css' %}">
    {% block link %}{% endblock %}
    {% block style %}{% endblock %}
</head>
<body>
    <div class="form-container">
        {% block content %}
        {% endblock %}
    </div>
</body>
</html>
