@import url('colors.css');
/* General purpose classes */

.bg-red                 {background-color: var(--red-1);}
.bg-red-2               {background-color: var(--red-2);}
.bg-red-3               {background-color: var(--red-3);}
.bg-orange              {background-color: var(--orange-1);}
.bg-orange-2            {background-color: var(--orange-2);}
.bg-orange-3            {background-color: var(--orange-3);}
.bg-yellow              {background-color: var(--yellow-1);}
.bg-yellow-2            {background-color: var(--yellow-2);}
.bg-yellow-3            {background-color: var(--yellow-3);}
.bg-green               {background-color: var(--green-1);}
.bg-green-2             {background-color: var(--green-2);}
.bg-green-3             {background-color: var(--green-3);}
.bg-blue                {background-color: var(--blue-1);}
.bg-blue-2              {background-color: var(--blue-2);}
.bg-blue-3              {background-color: var(--blue-3);}
.bg-purple              {background-color: var(--purple-1);}
.bg-purple-2            {background-color: var(--purple-2);}
.bg-purple-3            {background-color: var(--purple-3);}
.bg-pink                {background-color: var(--pink-1);}
.bg-pink-2              {background-color: var(--pink-2);}
.bg-pink-3              {background-color: var(--pink-3);}
.bg-gray                {background-color: var(--gray-1);}
.bg-gray-2              {background-color: var(--gray-2);}
.bg-gray-3              {background-color: var(--gray-3);}

/* Text related classes */
.txt-left               {text-align: left;}
.txt-center             {text-align: center;}
.txt-right              {text-align: right;}
.txt-justify            {text-align: justify;}

.col-red                {color: var(--red-1);}
.col-red-2              {color: var(--red-2);}
.col-red-3              {color: var(--red-3);}
.col-orange             {color: var(--orange-1);}
.col-orange-2           {color: var(--orange-2);}
.col-orange-3           {color: var(--orange-3);}
.col-yellow             {color: var(--yellow-1);}
.col-yellow-2           {color: var(--yellow-2);}
.col-yellow-3           {color: var(--yellow-3);}
.col-green              {color: var(--green-1);}
.col-green-2            {color: var(--green-2);}
.col-green-3            {color: var(--green-3);}
.col-blue               {color: var(--blue-1);}
.col-blue-2             {color: var(--blue-2);}
.col-blue-3             {color: var(--blue-3);}
.col-purple             {color: var(--purple-1);}
.col-purple-2           {color: var(--purple-2);}
.col-purple-3           {color: var(--purple-3);}
.col-pink               {color: var(--pink-1);}
.col-pink-2             {color: var(--pink-2);}
.col-pink-3             {color: var(--pink-3);}
.col-gray               {color: var(--gray-1);}
.col-gray-2             {color: var(--gray-2);}
.col-gray-3             {color: var(--gray-3);}
