/* Darkmode style */
body{background-color: #444;}
nav{
    box-shadow: 0 0 10px #0009;
    background-color: #000c;
    color: #fff;
}
::-webkit-scrollbar-track{background: #555;}
::-webkit-scrollbar-thumb{background: #333;}

/* Sidebar */

.sidebar{
    background-color: #444;
}
.create-btn{background-color: #343434;color: #fff;box-shadow: 0 5px 5px -2px #000;}
.create-btn:hover{background: #222;}

/* Content */

.tasklist{background: #0009;}
.tasklist-name{color: #fff9;border-color: #fff3;}
.task{background:#0005;color: #777;}


/* Create forms */
.create{background: #444;color: #999;}
.create form input{background: #333;color: #999;border: none;}
#CreateListForm input:focus{
    background: #111;
}
.create-button:hover{background: #222;}