@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');
/* General style rules */
body,html{
    min-height: 100vh;
    margin: 0;
}
body{
    background-color: #fdfdfd;
    font-family: 'Comfortaa', 'Segoe Ui', sans-serif;
}
::-webkit-scrollbar-track{background: #eee;}
::-webkit-scrollbar-thumb{background: #666;}
::-webkit-scrollbar{width: 1rem;}
/* Navbar */
nav{
    display: flex;
    justify-content: space-between;
    box-shadow: 0 0 10px #0004;
    position: fixed;
    width: 100vw;
    background-color: #fffc;
    backdrop-filter: blur(10px);
    z-index: 9999 !important;
}
.logo{
    width: 10rem;
}
nav>div{display: flex;align-items: center;padding-inline: 2rem;}
nav>div>ul{
    list-style: none;
    display: flex;
    align-items: center;
}
nav>div>ul li{
    padding: 0 1rem;
    transition: 150ms;
}
nav>div>ul>li:hover{color: #4169e1;cursor: pointer;}
nav button{border-radius: 5px;
    border: none;
    padding: 1rem 2rem;
    margin-left: 1rem;
    font-family: 'Comfortaa', cursive;
    font-weight: 600;
    cursor: pointer;
}
.login{border: solid #4169e1 1px;background: #fff;color: #4169e1;transition: 150ms;}
.login:hover{color: #fff;background: #4169e1;}
.sign-in{background: #89e4a2;color: #fff;}
.sign-in:hover{background: #50d172;}

.profile{
    height: 2rem;
    aspect-ratio: 1/1;
    background: #aaa;
    border-radius: 50%;
    cursor: pointer;
}
.dropdownMenu{
    width: max-content;
    display: block;
    list-style: none;
    padding: 0;
    position: fixed;
    right: -100%;
    top: 71.19px;
    margin: 0;
    background: #ddd9;
    transition: 0.5s;
}
.dropdownMenu li {
    padding: 1.2rem 3rem;
    display: inline;
    display: flex;
    align-items: center;
    transition: 250ms;
}
.dropdownMenu a {color:#222;text-decoration: none;}
.dropdownMenu li:hover {
    cursor: pointer;
    background: #ddd5;
}
.dropdownMenu > li > div {
    height: 1rem;
    width: 1rem;
    border: solid #fff 1px;
    border-radius: 30%;
    margin-right: 10px;
}
.show {
    right: 0;
}

/* Hero */

.hero{
    height: 100vh;
    display: flex;
    isolation: isolate;
    position: relative;
    background: linear-gradient(180deg, var(--blue-1), var(--purple-1));
}
.hero .bg{
    position: absolute;
    z-index: -1;
    width: 100%;
}
.hero .bg:first-of-type{bottom: 0;}
.hero .bg:last-of-type{transform: translateY(99vh);}

.hero>section{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-inline: 4rem;
}

.hero-caption h1{
    font-size: 50px;
    color: #fff9;
}
.hero-caption p{line-height: 2;color: #fff9;}

/* Cards */

.card-container{display: flex;padding: 2rem;}
.card{
    box-shadow: 0 0 30px #000a;
    padding: 2rem;
    margin: 1rem;
    border-radius: 10px;
    width: calc(33% - 6rem);
    background: #fff;
    opacity: 0;
    transform: translateY(5rem);
}
.card h1{color: #4169e1;font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;}
@keyframes card {
    to {transform: translateY(0);opacity: 1;height: auto;}
}
.fade-in-anim:nth-child(1){
    animation: card 750ms forwards ease-in-out;
}
.fade-in-anim:nth-child(3){
    animation: card 750ms forwards 400ms ease-in-out;
}
.fade-in-anim:nth-child(2){
    animation: card 750ms forwards 800ms ease-in-out;
}