{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Wellcome on Dynamic{% endblock %}</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,100,0,0" />
    <link rel="stylesheet" href="{% static 'main/css/main.css' %}">
    
    {% block links %}{% endblock %}
    <!-- General stylesheet and mode files have more priority than ther imported css files -->
    {% if user and user_details.theme == "dark" %}
    <link rel="stylesheet" href="{% static 'main/css/darkmode.css' %}">
    {% endif %}
    <link rel="stylesheet" href="{% static 'main/css/classes.css' %}" />
</head>
<body>
    <nav>
        <div>
            {% if user and user_details.theme == "dark" %}
            <img src="{% static 'main/img/dynamic/logos/Dynamic_logo_C.png' %}" alt="Dynamic logo" class="logo" draggable="false">
            {% else %}
            <img src="{% static 'main/img/dynamic/logos/Dynamic_logo_D.png' %}" alt="Dynamic logo" class="logo" draggable="false">
            {% endif %}
        <ul>
            <li>How to start</li>
            <li>Docs</li>
            <li>Services</li>
        </ul>
        </div>
        <div>
            {% if user and user.is_authenticated %}
                <div class="profile" id="profile"></div>
                <ul class="dropdownMenu" id="navbar-dropdown-menu">
                    <li><a href="">Profile</a></li>
                    <li><a href="{% url 'logout' %}">Logout</a></li>
                </ul>
            {% else %}
            <a href="{% url 'forms:login' %}"><button class="login">Login</button></a>
            <a href="{% url 'forms:register' %}"><button class="sign-in">Sign up</button></a>
            {% endif %}
        </div>
    </nav>
    {% if user and user.is_authenticated %}
        {% block header %}{% endblock %}
        {% block main %}{% endblock %}
    {% else %}
        {% block non-auth-header %}{% endblock %}
        {% block non-auth-main %}{% endblock %} 
    {% endif %}
    <script src="{% static 'main/js/navbar.js' %}"></script>
</body>
</html>