{% extends 'base.html' %}
{% load static %}

{% block header %}
    <header class="hero">
        <div class="filter"></div>
        <img src="{% static 'index/img/hero_bg.jpg' %}" alt="colorfull background" class="bg">
        <section class="hero-caption">
            <h1>It's time to focus</h1>
            <p>
                It's time to focus and get productive, what better place for that than Dynamic?
            </p>
        </section>
        <section class="hero-media">
            <!-- Here goes an image or a gif of a task being used -->
        </section>
    </header>
{% endblock %}

{% block main %}
    <main>
        <section class="card-container">
            <div class="card">
                <h1>Create a space</h1>
                <p>
                    A space here on Dynamic is like a virtual room disigned to bee as comfortable
                    as possible for your needs.
                </p>
            </div>
            <div class="card">
                <h1>Personalize your experience</h1>
                <p>
                    You can give a bit of personality in everything you do, and we built this platform
                    with the goal of making task management as comfortable as possible, whatever settings you touch.
                </p>
            </div>
            <div class="card">
                <h1>We are open-source</h1>
                <p>
                    If you want, you can check our source code and contribute if you found a bug or want
                    to propose a feature.
                </p>
            </div>
        </section>
    </main>
    <script src="{% static 'index/js/animation.js' %}"></script>
{% endblock %}